<form [formGroup]="form" (ngSubmit)="save.submit()" novalidate>
  @if (hasPassword) {
    <div class="field">
      <label for="mf-password-current">{{ 'driver.passwordChange.current' | t }}</label>
      <input
        hlmInput
        id="mf-password-current"
        type="password"
        autocomplete="current-password"
        formControlName="currentPassword"
        aria-describedby="mf-password-current-error"
      />
      <mf-field-error
        id="mf-password-current-error"
        [save]="save"
        [control]="form.controls.currentPassword"
      />
    </div>
  }
  <div class="field">
    <label for="mf-password-new">{{ 'driver.passwordChange.new' | t }}</label>
    <input
      hlmInput
      id="mf-password-new"
      type="password"
      autocomplete="new-password"
      formControlName="newPassword"
      aria-describedby="mf-password-new-hint mf-password-new-error"
    />
    <p class="hint" id="mf-password-new-hint">{{ 'driver.passwordChange.hint' | t }}</p>
    <mf-field-error id="mf-password-new-error" [save]="save" [control]="form.controls.newPassword" />
  </div>
  <mf-task-error [save]="save" />
  @if (save.problem()?.code === 'recent_sign_in_required') {
    <button hlmBtn variant="secondary" type="button" (click)="signInAgain()">
      {{ 'driver.passwordChange.signInAgain' | t }}
    </button>
  }
  <button hlmBtn type="submit" [mfTaskSubmit]="save">
    @if (hasPassword) {
      {{ 'driver.passwordChange.submit' | t }}
    } @else {
      {{ 'driver.passwordChange.setSubmit' | t }}
    }
  </button>
</form>
